beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
client==0.0.1
colorama==0.3.9
data==0.4
decorator==4.1.2
funcsigs==1.0.2
future==0.16.0
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
latex==0.7.0
mpmath==1.0.0
numpy==1.13.3
pandas==0.21.0
parso==0.1.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
PyAudio==0.2.11
#incase pyAudio blows up first install portaudio19-dev and then try installing pyaudio
Pygments==2.2.0
pypiwin32==219
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
shutilwhich==1.1.0
simplegeneric==0.8.1
six==1.11.0
SpeechRecognition==3.7.1
sympy==1.1.1
tempdir==0.7.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
wikipedia==1.4.0
winshell==0.6
wxPython==4.0.0b2


#Forlinux install wxpython using  pip3 install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-16.04     wxPython 
#or
#pip install -U -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-16.04     wxPython

