<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Normal Flow</title>
    <script>
    body {
  width: 500px;
  margin:15px;
  padding:10px;
}

p {
  background: green; 
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

.block{
  display: block;
}

.inline{
  display: inline;
}
    </script>
  </head>
  <body>
    <h1>Normal Flow</h1>

<div >
<p>Block</p>
<p>The elements that appear one below the other are described as block elements</p>
<p class="block">Element 1</p>
<p class="block">Element 2</p>    
<p class="block">Element 3</p>
</div>

<div class="inline">
<p>Inline Elements</p>
<p>Appear one beside the other, like the individual words in a paragraph.</p>
<p class="inline">Element 1</p>
<p class="inline">Element 2</p>    
<p class="inline">Element 3</p>
</div>  
  </body>
</html>

