body {
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  background-color: #000;
  margin:0;
  padding:0;
  border-width:0;
  position: relative;
  color: #FFF;
}
.sketch {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  margin-top:20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
