astroid==1.5.3
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
client==0.0.1
colorama==0.3.9
configparser==3.5.0
data==0.4
decorator==4.1.2
enum34==1.1.6
funcsigs==1.0.2
future==0.16.0
idna==2.6
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.2.15
jedi==0.11.0
latex==0.7.0
lazy-object-proxy==1.3.1
mccabe==0.6.1
mpmath==1.0.0
numpy==1.13.3
pandas==0.21.0
parso==0.1.0
pathlib2==2.3.0
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
PyAudio==0.2.11
Pygments==2.2.0
pylint==1.7.2
python-dateutil==2.6.1
pyttsx3==2.7
pytz==2017.3
requests==2.18.4
scandir==1.6
shutilwhich==1.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
SpeechRecognition==3.7.1
style==1.1.0
tempdir==0.7.1
traitlets==4.3.2
update==0.0.1
urllib3==1.22
wcwidth==0.1.7
wikipedia==1.4.0
wrapt==1.10.10
youtube-dl==2017.12.14